.league-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    display: table;
    margin: auto;
    max-width: 800px;
}

.table th,
.table td {
    border-top: 1px solid #ddd;
    padding: 0.3rem;
}

.stat {
    text-align: center;
}

.table th {
    border-top: none;
    background-color: #ffffff;
}

.ucl {
    border-left: 4px solid rgb(63, 63, 255);
}

.uel {
    border-left : 4px solid orange;
}

.uecl {
    border-left: 4px solid green;
}

.pos {
    text-align: center;
    width: 5%;
}

.league-logo {
    min-width: 80px;
    width: 10%;
    margin: 1% 0 1% 0;
}

.team-cell {
    line-height: 1.5;
    white-space: nowrap;
}

.team-logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 0.5rem;
}