.auth {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7601b9;
}

.auth h2 {
    margin: 0;
    margin-bottom: 2rem;
}

.auth form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    width: 20%;
}

input {
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.auth button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #5e0194;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.auth button:hover {
    background-color: #4b0172;
}